In [1]:
%load_ext autoreload
%autoreload 2

import main as m
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
R = 8.314 # J/K. mol

In [2]:
n = 10000
Ca = m.generate_values(2e3, 3e3, n)
Cb = m.generate_values(2e3, 3e3, n)
T = m.generate_values(50+273, 100+273, n)
Q = m.generate_values(8e-3, 8.5e-3, n)

data = pd.DataFrame()
data['Cae'] = Ca
data['Cbe'] = Cb
data['Cce'] = 0
data['Cde'] = 0
data['T'] = T
data['Q'] = Q
C = ['Cae', 'Cbe', 'Cce', 'Cde']

In [3]:
Ea = 83680
k0 = .26e11
V = 200e-3 # m³

data['k1'] = m.cte_taxa(T, k0, Ea, R)
data['k2'] = 0

In [ ]:
out = m.ss_solve(data[C], data['k1'], data['k2'], data['Q'], V)

In [18]:
data.join(out)

,Cae,Cbe,Cce,Cde,T,Q,k1,k2,Ca,Cb,Cc,Cd
0,2553.900958,2829.790022,0,0,354.675967,0.008259,0.012320,0,27.872854,303.761918,2526.028104,2526.028104
1,2805.832662,2308.554094,0,0,349.020198,0.008125,0.007779,0,520.224156,22.945587,2285.608506,2285.608506
2,2559.295945,2334.294720,0,0,369.012405,0.008061,0.037105,0,235.709438,10.708212,2323.586507,2323.586507
3,2024.096161,2470.218882,0,0,367.106972,0.008334,0.032207,0,5.778482,451.901203,2018.317679,2018.317679
4,2031.581166,2671.095644,0,0,355.169781,0.008440,0.012816,0,10.243612,649.758090,2021.337554,2021.337554
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2240.338800,1982.539063,0,0,329.848259,0.008388,0.001455,0,393.190277,135.390541,1847.148522,1847.148522
9996,2440.695526,2341.516504,0,0,369.557219,0.008164,0.038627,0,119.674078,20.495056,2321.021448,2321.021448
9997,2261.137070,2454.076455,0,0,329.594856,0.008183,0.001422,0,167.288411,360.227796,2093.848659,2093.848659
9998,2638.653253,2313.310685,0,0,347.977076,0.008312,0.007134,0,361.980799,36.638232,2276.672453,2276.672453
9999,2796.063390,2031.490910,0,0,332.665411,0.008031,0.001884,0,816.253607,51.681126,1979.809784,1979.809784